* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-branco: #FFFFFF;
    --cor-primaria: #12264B;
    --cor-secundaria: #FFD100;
    --cor-terciaria: #00B0FF;
    --cor-quartenaria: #195F8C;
    --cor-cinza-escuro: #252936;
    --cor-preto: #000000;
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-tamanho: 18px;
}

.container_80 {
    width: 80%;
    height: 100%;
    max-width: 1920px;
    margin: auto;
}

.texto_privacidade{
    font-size: 16px;
    color: var(--cor-primaria);
    font-weight: 400;
    font-family: var(--fonte-primaria);
}

.texto_privacidade a{
    color: var(--cor-primaria);
}

.box_footer{
    background-color: var(--cor-primaria);
    width: 100vw;
    height: 20px;
}