* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(-var(--fonte-primaria)00);
}

:root {
    --blue_card: #00B1EB;
    --dark_blue: #12264B;
    --yellow: #FFD100;
    --camada_geometrica: #8497B1;
    --cor-branco: #FFFFFF;
    --cor-primaria: #12264B;
    --cor-secundaria: #FFD100;
    --cor-terciaria: #00B0FF;
    --cor-quartenaria: #195F8C;
    --cor-cinza-escuro: #252936;
    --cor-preto: #000000;
    --fonte-primaria: 'poppins', sans-serif;
    --fonte-tamanho: 18px;
}

main {
    display: flex;
    background: linear-gradient(50deg, #ffffff 70%, var(--camada_geometrica) 30%);
    height: 600px;
    flex-direction: column;

}

.container {
    width: 90%;
    height: 100%;
    max-width: 1920px;
    margin: auto;
}

.direction_column {
    display: flex;
    flex-direction: column;
}

.direction_row {
    flex-direction: row;
}

.justify_center {
    display: flex;
    justify-content: center;
}

.align_center {
    display: flex;
    align-items: center;
}

.space_between {
    justify-content: space-between;
}

.space_evenly {
    display: flex;
    justify-content: space-evenly;
}

.space_around {
    justify-content: space-around;
}

/*==================================voltar*/
.div_voltar {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 26px;
    margin-bottom: 29px;
}

.seta_voltar {
    width: 45px;
    height: 45px;
    color: var(--dark_blue);
}

.spanVoltar {
    font-family: var(--fonte-primaria);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-left: 20%;
    color: var(--dark_blue);
}

.voltar{
    text-decoration: none;
}

.conteudo {
    flex-direction: column;
    display: flex;
    width: 700px;
    height: 450px;
   /*  align-items: column; */
}

.inputs {
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin-left: 65px;
    margin-bottom: 15px;
}

.seu_cadastro {
    display: flex;
    /*  background-color: #ddb16f; */
    font-family: var(--fonte-primaria);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    color: #12264B;
    width: 689px;
    margin-left: 65px;

}

.seDestaca {
    /*  background-color: cornflowerblue; */
    margin-left: 65px;
    margin-top: 10px;
    width: 600px;
}

.se_destaca {
    font-family: var(--fonte-primaria);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #12264B;
}

/*===============================nome*/

.nome {
    font-family: var(--fonte-primaria);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #12264B;
    margin-top: 4px;
}

.nome_input {
    border-radius: 30px;
    background: #EDEDED;
    width: 400px;
    height: 30px;
    border: 0.5px;
}

.container_90 {
    width: 90%;
    height: 100%;
    max-width: 1920px;
    margin: auto;
}

.texto_privacidade {
    font-size: 16px;
    color: var(--cor-primaria);
    font-weight: 400;
    font-family: var(--fonte-primaria);
}

.texto_privacidade a {
    color: var(--cor-primaria);
}

.box_footer {
    background-color: var(--cor-primaria);
    width: 100%;
    height: 20px;
}

section {
    /*     background-color:rgb(155, 245, 245); */
    display: flex;
    justify-content: left;
}

.btn_proximo {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 303px;
    height: 57px;
    background: #FFD100;
    border-radius: 30px;
    margin-left: 65px;
    margin-top: 1px;
}

.btnProximo {
    font-family: var(--fonte-primaria);
    border-radius: 30px;
    text-decoration: none;
    text-transform: capitalize;
}

.imgIlustracao {
    height: 500px;
    width: 500px;
 /*    background-color: cadetblue; */
}

.ilustracao {
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1700px) {
    header a {
        font-size: 20px;
    }

    .imgs_social_medias {
        width: 17%;
    }
}

@media screen and (max-width: 1300px) {
    header a {
        font-size: 18px;
    }




@media screen and (max-width: 1360px) {
    .imgIlustracao {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    header a {
        font-size: 18px;
    }

    header nav {
        width: 70vw;
    }

    /* .imgs_social_medias {
        width: 20%;
    }

    .imgs_social_medias img {
        width: 28%;
    } */
}

@media screen and (max-width: 900px) {
    header nav {
        width: 70vw;
    }

    .img_footer {
        margin-left: -16%;
        width: unset;
        height: unset;
    }

    footer span {
        font-size: 16px;
    }

    .footer_text {
        font-size: 16px;
    }

    .alinhamento_footer {
        flex-wrap: wrap;
    }

    footer {
        height: 100%;
    }

    .nav_mobile {
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin-top: 4%;
    }

    .nav_desktop {
        display: none;
    }
}


@media screen and (max-width: 800px) {
    header img {
        width: 16%;
    }

    .menu_barras svg {
        height: 13vh;
        width: 4vw;
        fill: var(--cor-branco);
    }

    .menu_barras {
        display: block;
    }

    header nav {
        display: none;
    }

    .posicionamento_header {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 50px 0 0;
    }

    .posicionamento_header nav {
        display: none;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: #12264B;
        flex-direction: column;
        z-index: 1;
        border: 1px solid var(--branco);
    }

    .primeira_nav {
        width: 25vw;
        padding-right: 5%;
    }

    .imgs_social_medias {
        width: 30%;
        padding-right: 3%;
    }

    .imgs_social_medias img {
        width: 29%;
    }

    .links {
        justify-content: initial;
        padding: 0% 5% 0% 5%;
    }

    .navegacao_header {
        margin-bottom: 3%;
        margin-top: 1%;
    }

    .links>div a {
        display: block;
        width: unset;
    }

    .links>div {
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
}

@media screen and (max-width: 750px) {
    .seu_cadastro {
        width: 669px;
        font-size:x-large;
    }
    .seta_voltar {
        width: 20px;
        height: 20px;
    }
    .spanVoltar{
        font-size: 16px;
    }
    .btn_proximo {
        width: 206px;

        height: 49px;

    }

    .texto_privacidade {
        display: none;
    }
}
@media screen and (max-width: 730px) {
    .seu_cadastro {
        width: 320px;
    }
    .conteudo{
        width: 320px;
        height: 475px;

    }
    .seDestaca {
        width: 320px;
    }  
}
@media screen and (max-width: 470px){
    .nome{
        width: 320px;
    }
    .nome_input {
        width: 320px;
    }
    .inputs{
        width: 320px;
    }
}    

}

@media screen and (max-width: 400px){
    .seu_cadastro{
        width: 250px;
    }
    .se_destaca{
        width: 250px;
    }
    .seDestaca{
        width: 250px;
    }
    .nome{
        width: 250px;
    }
    .nome_input{
        width: 250px;
    }
    .inputs{
        width: 250px;
    }
}
@media screen and (max-width: 330px){
    .conteudo{
        align-items: center;
    }
    .nome_input{
        width: 230px;
    }

}
